<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Werdle" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-black">
    <div class="h-screen w-screen relative">
      <nav class="border-b border-gray-600 w-screen">
        <div class="p-5 text-center text-2xl font-bold tracking-tight text-white">
          WERDLE
        </div>
      </nav>
      <%= @inner_content %>
    </div>
  </body>
</html>
